body {
  margin: 0px;
}
/* Main menu styles */
.menu {
  font-size: 20px;
  padding: 20px;
  margin-top: 0px;
  background-color: #300000;
  display: flex;
  justify-content: space-around;
}
.menu,
.menu__dropdown,
.menu__sub-dropdown {
  list-style: none;
}
.menu__item {
  padding: 10px;
  margin: 10px 0px;
  position: relative;
}
.menu__link {
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
}
.menu__link:hover,
.menu__link:focus {
  background-color: #ffffff;
  color: #000000;
  outline: red dotted 2px;
}
/* First dropdown level */
.menu__dropdown,
.menu__sub-dropdown {
  display: none;
  background-color: #300000;
  width: 100%;
  position: absolute;
}
.menu__dropdown {
  padding: 0px 20px 0px 0px;
  top: 45px;
  left: 0;
}
/* :focus-within allows to give the focus inside the dropdown using css only. Must be seperate from the css styles using hover or breaks the css  */
.menu__item:hover .menu__dropdown,
.menu__item .menu__dropdown:hover {
  display: block;
}
.menu__item:focus-within .menu__dropdown {
  display: block;
}
/* Second dropdown level */
.menu__sub-dropdown {
  white-space: nowrap;
  padding: 0px 20px;
  top: 0px;
  left: 100%;
}
.menu__dropdown__item:hover .menu__sub-dropdown,
.menu__dropdown__item .menu__sub-dropdown:hover {
  display: block;
}
.menu__dropdown__item:focus-within .menu__sub-dropdown {
  display: block;
}
